$green: #55BB06;
$blue: #5763B3;
$lightBlue: #EAF0FA;
$buttonBlue: #7284E4;
$orange: #FF9900;
$deepDark: #202123;
$gray: #B9B9B9;
$white: #FFFFFF;
$background: #D7D7D7;
$lightGray: #EBEBEB;
$priceColor: #F5F5F5;
$grayRefundable: #707276;
